<mat-card class="welcome-container">
  <mat-card-title align="center">
    <h1 class="md-display-3">What do you know about manufacturing defects?</h1>
  </mat-card-title>
  <mat-card-subtitle align="center">
    <h1 class="md-display-2 hello">
      PLEASE take 2 min of your time to answer this QUIZ <br />
    </h1>
  </mat-card-subtitle>
  <div class="flex-container" fxLayout="row" fxLayout.xs="column">
    <mat-card class="quiz-card">
      <form class="example-form">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Please enter your whole name</mat-label>
          <input
            (focus)="this.name.setValue('')"
            (change)="onInputValueChange()"
            matInput
            placeholder="Ex. Ahemed El Omari"
            [formControl]="name"
            value="Ex. Ahemed El Omari"
          />
          <mat-error *ngIf="name.hasError('required')">
            Your name is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </form>
      <!-- <mat-divider></mat-divider> -->
      <section>
        <div class="example-button-row">
          <button
            [routerLink]="nameIsWritten ? ['/quiz'] : ['/welcome']"
            mat-raised-button
            color="primary"
            appearance="fill"
            class="example-full-width"
            (click)="onSubmit()"
          >
            Start the QUIZ
          </button>
        </div>
      </section>
    </mat-card>
  </div>
  <span class="signature"
    ><p class="dev">Developed by: &nbsp;</p>
    <p class="name">Ranya EL KARD</p>
  </span>
</mat-card>
